# Postgres database URL
DATABASE_URL=""

# Authorization bearer to kick off jobs
# E.g.: `openssl rand -hex 16` key
# Automatically injected by Vercel into cron requests a la `Authorization: Bearer ${key}`
CRON_SECRET=""