# Postgres database URL
DATABASE_URL=""

# Authorization bearer to kick off jobs and bust ISR cache
# E.g.: `openssl rand -hex 32` key (must be >32 characters)
# Automatically injected by Vercel into cron requests a la `Authorization: Bearer ${key}`
CRON_SECRET=""