# Postgres database URL
DATABASE_URL=""

# Authorization bearer to kick off jobs
# E.g.: `openssl rand -hex 16` key
# Automatically injected by Vercel into cron requests a la `Authorization: Bearer ${key}`
CRON_SECRET=""

# Context: we (slightly) abuse Vercel Edge Config Store as an ultra-low-latency
# K/V store (p99 15ms read). ECS requires a `VERCEL_API_TOKEN` to publish data.
#
# Unfortunately, `VERCEL_API_TOKEN`(s) are rather archaic and don't support project
# or even resource (ECS) scoping.
# 
# Aside: Hello, Paul! (https://community.vercel.com/t/project-level-scope-for-api-tokens/6568)
#
# Now, a sane observer would, at this point, probably just slap a REDIS_URL and call
# it a day, but we will persevere. So, I recommend creating a new `Pro` Vercel team
# and scoping your token to said `team` level instead. Doesn't make me happy but let's
# see how far we can really push this bad boy (ECS).
EDGE_CONFIG_ID=""
VERCEL_API_TOKEN=""

# Read-only edge config URL, auto-injected by Vercel
EDGE_CONFIG=""

# ISR bypass token used to force re-generate pages
# E.g.: `openssl rand -hex 16` key
ISR_BYPASS_TOKEN=""