# Deps
node_modules

# Output
.vercel
/.svelte-kit
/build

# File cache
.DS_Store

# Env
.env
.env.*
!.env.sample

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# VSCode workspace config
.vscode

# Prisma generated
src/lib/generated/prisma

# Prisma migrations
src/prisma/migrations

# Workflows: SWC compiler to run workflow transformation pipeline
.swc

# Workflows: execution debugging snapshots
.workflow-data

# Workflows: step and workflow build time handler bundling
# https://useworkflow.dev/docs/how-it-works/code-transform#flowjs
#
# Effectively generated `POST` handlers for workflow and step execution,
# embedding the execution layer within the SvelteKit API route Node.js VM.
src/route/.well-known
