@import "tailwindcss";
@import "tw-animate-css";

/* Inter font setup */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300 500;
	font-display: swap;
	src:
		local("Inter"),
		local("Inter Variable"),
		url("$lib/fonts/Inter-subset.woff2") format("woff2");
}

@theme {
	/* Setup font */
	--font-display: "Inter", system-ui, -apple-system, sans-serif;

	/* Colors */
	--color-gecko-black: #121218;
	--color-gecko-shade: #1f1f24;
	--color-gecko-muted: #595969;
	--color-gecko-black-hover: #1f1f24;
	--color-gecko-white: #f3f3f3;
	--color-gecko-gray: #b4b4b6;
	--color-gecko-green: #1bd289;
	--color-gecko-red: #ff384f;
}
